body {
    font-family: Arial, sans-serif;
}

.producto {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    text-align: center;
}

#carro {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #f9f9f9;
}